.box{
    
    background-color: burlywood;
    height: 100px;
    text-align: center;
}

.container-fluid{
    padding-top: 20px;
}

.box1{
    background-color: cadetblue;
     height: 70px;
}
.container{
    padding-top: 20px;

}
.box2{
   height: 70px;
   background-color: #a0e550;height: 70px;
   
}
.box3{
   height: 70px;
   background-color: #6d083b;
}
.box4{
   height: 70px;
   background-color: #55841f;
}
.box5{
   height: 70px;
   background-color: #e08224;
}
.box6{
    height: 70px;
   background-color: #93808d;
}
